[Unit]
Description=Lightshow Monitor
After=dbus.socket
Requires=dbus.socket

[Service]
ExecStart=%h/.local/bin/lightshow
Restart=on-failure

[Install]
WantedBy=default.target