[Unit]
Description=Lightshow Monitor
After=dbus.socket
Requires=dbus.socket

[Service]
ExecStart=/usr/local/bin/lightshow
Restart=on-failure
User=gamey

[Install]
WantedBy=multi-user.target